[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.31.0"
rich = "==13.7.0"
prompt-toolkit = "==3.0.43"
customtkinter = "==5.2.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
