{% extends 'quotes_task/base.html' %}


{% block content %}
<div class="container mt-3">
    <h2>Reset password</h2>
    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Email
            {{ form.email }}
            </label>
            <span>{{ form.errors.email }}</span>
        </div>
        <button href="{% url 'auth_task:password_reset_done' %}" type="submit" class="btn btn-primary">Send mail</button>
    </form>
</div>

{% endblock %}