{% extends 'quotes_task/base.html' %}

{% block content %}
<div class="row">
    
    <div class="col-md-8">
        {% for quote in quotes|slice:":5" %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.quote_text }}</span>
            <span>by <small class="author" itemprop="author">{{ quote.author.full_name }}</small>
            <a href="/author/{{ quote.author.full_name|slugify }}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.get_tags_list %}
                    <a class="tag" href="/tag/{{ tag }}/page/1/">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
