{% extends 'quotes_task/base.html' %}

{% block content %}
<div class="row">
    
    <div class="col-md-8">
    {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text"> {{ quote.quote_text }} </span>
            <span>by <small class="author" itemprop="author">{{ quote.author_name }}</small>
                <a href="{% url 'quotes_task:author_show' quote.author.id %}">{{ quote.author.full_name }}</a> - <a href="http://goodreads.com/author/show/9810.Albert_Einstein">(Goodreads page)</a>
            </span>
            <div class="tags">
                Tags:
                <meta class="keywords" itemprop="keywords" content="change,deep-thoughts,thinking,world">
                {% for tag in quote.tags.all %} 
                
                <a class="tag" href="/tag/change/page/1/">{{ tag.name }}</a>
                
                {% endfor %}
                
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pager">
                {% if quotes.has_previous %}
                    <li class="previous">
                        <a href="?page={{ quotes.previous_page_number }}"><span aria-hidden="true">←</span> Previous</a>
                    </li>
                {% endif %}
                
                {% if quotes.has_next %}
                    <li class="next">
                        <a href="?page={{ quotes.next_page_number }}">Next <span aria-hidden="true">→</span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
